/* UC 1 */
body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #fff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: green;
    width: 80%;
}

.logo-content-img {
    border: solid 0px #42515f;
}

.addressBook-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Monsterrat", sans-serif;
    letter-spacing: 0px;
    color: skyblue;
    text-transform: capitalize;
}

.addressBook-contacts {
    color: #42515f;
}

* {
    box-sizing: border-box;
}

/* UC 2 */
.form-content {
    min-height: calc(100% - 80px);
    flex-direction: row;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: navy;
}

.form {
    width: 45%;
    color: white;
    padding: 0px 0px;
    box-shadow: 0px 3px 6px #000002;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.content {
    background: skyblue 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5px;
    height: 100%;
}

.form-head {
    font: normal normal bold 25px/30px Montserrat;
    font-family: "Montserrat", sans-serif;
    text-align-last: center;
    letter-spacing: 0px;
    color: #fff;
    padding: 25px 40px;
    text-transform: capitalize;
    width: 100%;
}

.cancel-button {
    border-radius: 50%;
    padding: 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.row-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 30px;
    align-items: center;
    border: 0px solid grey;
}

label {
    width: 80%;
    display: inline-block;
}

.text {
    font-size: 12px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

input {
    width: 80%;
    padding: 11px;
    border: 1px solid #87ceeb;
    border-radius: 6px;
}
